In [50]:
import matplotlib as plt
import pandas as pd
import os
import numpy as np
os.chdir('D:')

In [51]:
data=pd.read_csv('movie_success_rate.csv',index_col=0,low_memory=False)
data.head()

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),...,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western,Success
Rank,,,,,,,,,,,,,,,,,,,,,
1.0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014.0,121.0,8.1,757074.0,333.13,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2.0,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012.0,124.0,7.0,485820.0,126.46,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3.0,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016.0,117.0,7.3,157606.0,138.12,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4.0,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016.0,108.0,7.2,60545.0,270.32,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5.0,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016.0,123.0,6.2,393727.0,325.02,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
data.isnull().sum()

Title                 1
Genre                 1
Description           1
Director              1
Actors                1
Year                  1
Runtime (Minutes)     1
Rating                0
Votes                 0
Revenue (Millions)    0
Metascore             1
Action                1
Adventure             1
Aniimation            1
Biography             1
Comedy                1
Crime                 1
Drama                 1
Family                1
Fantasy               1
History               1
Horror                1
Music                 1
Musical               1
Mystery               1
Romance               1
Sci-Fi                1
Sport                 1
Thriller              1
War                   1
Western               1
Success               1
dtype: int64

In [53]:
data.fillna(method='ffill',inplace=True)
data.isnull().sum()

Title                 0
Genre                 0
Description           0
Director              0
Actors                0
Year                  0
Runtime (Minutes)     0
Rating                0
Votes                 0
Revenue (Millions)    0
Metascore             0
Action                0
Adventure             0
Aniimation            0
Biography             0
Comedy                0
Crime                 0
Drama                 0
Family                0
Fantasy               0
History               0
Horror                0
Music                 0
Musical               0
Mystery               0
Romance               0
Sci-Fi                0
Sport                 0
Thriller              0
War                   0
Western               0
Success               0
dtype: int64

In [54]:
data.drop('Description',axis=1,inplace=True)
data.dtypes

Title                  object
Genre                  object
Director               object
Actors                 object
Year                  float64
Runtime (Minutes)     float64
Rating                float64
Votes                 float64
Revenue (Millions)    float64
Metascore             float64
Action                float64
Adventure             float64
Aniimation            float64
Biography             float64
Comedy                float64
Crime                 float64
Drama                 float64
Family                float64
Fantasy               float64
History               float64
Horror                float64
Music                 float64
Musical               float64
Mystery               float64
Romance               float64
Sci-Fi                float64
Sport                 float64
Thriller              float64
War                   float64
Western               float64
Success               float64
dtype: object

In [55]:
data.drop('Title',axis=1,inplace=True)
data.drop('Genre',axis=1,inplace=True)

In [56]:
data["Director"].value_counts()

Ridley Scott          8
David Yates           6
Paul W.S. Anderson    6
Michael Bay           6
Christopher Nolan     5
                     ..
Tony Scott            1
Damián Szifron        1
Olivier Assayas       1
Ari Sandel            1
Dan Gilroy            1
Name: Director, Length: 524, dtype: int64

In [57]:
data.shape
data["Actors"].value_counts()

Shia LaBeouf, Megan Fox, Josh Duhamel, Tyrese Gibson                   2
Kevin Spacey, Jennifer Garner, Robbie Amell,Cheryl Hines               2
Daniel Radcliffe, Emma Watson, Rupert Grint, Michael Gambon            2
Gerard Butler, Aaron Eckhart, Morgan Freeman,Angela Bassett            2
Jennifer Lawrence, Josh Hutcherson, Liam Hemsworth, Woody Harrelson    2
                                                                      ..
Chris Evans, Alice Eve, Emma Fitzpatrick, John Cullum                  1
Simon Pegg, Nick Frost, Seth Rogen, Mia Stallard                       1
Zachary Gordon, Robert Capron, Devon Bostick,Steve Zahn                1
Jason Bateman, Charlie Day, Jason Sudeikis, Steve Wiebe                1
Michael Fassbender, Alicia Vikander, Rachel Weisz, Florence Clery      1
Name: Actors, Length: 834, dtype: int64

In [58]:
data.drop(["Director"],axis=1,inplace=True)
data.drop(["Actors"],axis=1,inplace=True)

In [59]:
data.dtypes

Year                  float64
Runtime (Minutes)     float64
Rating                float64
Votes                 float64
Revenue (Millions)    float64
Metascore             float64
Action                float64
Adventure             float64
Aniimation            float64
Biography             float64
Comedy                float64
Crime                 float64
Drama                 float64
Family                float64
Fantasy               float64
History               float64
Horror                float64
Music                 float64
Musical               float64
Mystery               float64
Romance               float64
Sci-Fi                float64
Sport                 float64
Thriller              float64
War                   float64
Western               float64
Success               float64
dtype: object

In [60]:
data["Success"].value_counts()

0.0    690
1.0    149
Name: Success, dtype: int64

In [61]:
X=data.iloc[:,0:-2]
Y=data.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=1)

In [62]:
from sklearn.ensemble import RandomForestClassifier
forest=RandomForestClassifier(n_estimators=100)
forest.fit(X_train,Y_train)

YF_pred=forest.predict(X_test)

In [63]:
from sklearn import metrics

In [64]:
print("Accuracy:",metrics.accuracy_score(Y_test, YF_pred)*100,"%")

Accuracy: 99.04761904761905 %

In [65]:
import numpy as np
from flask import Flask, request, jsonify, render_template
import pickle

In [66]:
pickle.dump(forest, open('model.pkl','wb'))

model = pickle.load(open('model.pkl','rb'))

In [69]:
print(model.predict([[2012,109,7.7,192190,40.98,68,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0]]))

[0.]